.Loader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* stylelint-disable-next-line alpha-value-notation */
  background-color: rgb(0 0 0 / 0.36);
  justify-content: center;
  align-items: center;  
}
