.BackButton {
  display: flex;
  margin-bottom: 28px;
  box-sizing: border-box;
  cursor: pointer;
  gap: 12px;
  justify-content: start;
  padding: 0 20px 0 30px;
  align-items: center;
  width: 255px;
  height: 36px;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.42px;
  color: #8f8f8f;
}
