.panelWrapper {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 32px 20px 40px;
    border-radius: 16px;
    width: 295px;
    box-sizing: border-box;
    text-align: left;

    p,
    h3 {
        margin: 0;
        font-size: 14px;
    }

    .supervisorWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        .supervisorTitle {
            font-weight: 700;
            margin-bottom: 8px;
        }

        .supervisorName {
            margin-bottom: 8px;
        }

        .supervisorPosition {
            color: #999898;
        }
    }

    .aimWrapper {
        margin-bottom: 24px;

        .aimTitle {
            font-weight: 700;
            margin-bottom: 8px;
        }
    }

    .expired_atTitle {
        font-weight: 700;
        margin-bottom: 8px;
    }
}